In [ ]:
import pandas as pd
import numpy as np

# Creating a DataFrame

In [ ]:
data={
  'Name': ['Alice', 'Bob', 'Charlie', 'David'],
  'Age': [25, 30, 35, 40],
  'city': ['New York', 'Los Angeles', 'Chicago', 'Houston'],
  'Salary': [70000, 80000, 120000, 90000]
}
df=pd.DataFrame(data)
df

In [ ]:
data_List=[
  ['Alice', 25, 'New York', 70000],
  ['Bob', 30, 'Los Angeles', 80000],
  ['Charlie', 35, 'Chicago', 120000],
  ['David', 40, 'Houston', 90000]
]
columns = ['Name', 'Age', 'city', 'Salary']
df2 = pd.DataFrame(data_List,columns=columns)
df2

# Selecting and indexing of columns

In [ ]:
df2['Name']

In [ ]:
df2[['Name','city']]

# Creating a new column

In [ ]:
df2["Designation"] = ['Engineer', 'Manager', 'Director', 'Analyst']
df2

# Removing the column

In [ ]:
df2.drop('Designation', axis=1, inplace=True)
df2

# Selecting by rows

In [ ]:
df2

In [ ]:
df2.loc[0]

In [ ]:
df2.loc[[0,1]]

In [ ]:
df2.iloc[3]

#  Selecting Subsets of Rows and Columns

In [ ]:
df.loc[2:3,['Name','Age']]

# Conditional Selection

In [ ]:
df2

only want to see those people who age is above 30

In [ ]:
df2[df["Age"]>30]

only want to see those people who age is above 30 and city should be chicago

In [ ]:
df2[(df2["Age"]>30) & (df2["city"]=='Chicago')]