In [ ]:
import pandas as pd
import numpy as np

Finding Missing Data

In [ ]:
data={
  'A':[1,2,np.nan,4,5],
  'B':[2,6,7,8,9],
  'C':[10,11,12,np.nan,np.nan],
  'D':[15,np.nan,np.nan,np.nan,19]
}
df = pd.DataFrame(data)
df

In [ ]:
df.isna()

In [ ]:
df.isna().sum()

In [ ]:
df.isna().any()

Removing Missing Data

In [ ]:
df.dropna()

In [ ]:
df.dropna(thresh=3)

Filling Missing Data

In [ ]:
df

In [ ]:
df.fillna(0)

In [21]:
values = {'A': 0, 'B': 1, 'C': 2, 'D': 3}
df.fillna(value=values)

     A  B     C     D
0  1.0  2  10.0  15.0
1  2.0  6  11.0   3.0
2  0.0  7  12.0   3.0
3  4.0  8   2.0   3.0
4  5.0  9   2.0  19.0

In [22]:
df.fillna(df.mean())

     A  B     C     D
0  1.0  2  10.0  15.0
1  2.0  6  11.0  17.0
2  3.0  7  12.0  17.0
3  4.0  8  11.0  17.0
4  5.0  9  11.0  19.0